xml_schema/46781c73181300b9d4ecb7ea35a261cff8e23dc218c2419be565af008d07f4f8.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- Generated schema with checksum: 46781c73181300b9d4ecb7ea35a261cff8e23dc218c2419be565af008d07f4f8 -->
  <xs:element name="user" type="userType"/>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="1"/>
      <xs:element name="age" type="xs:integer" minOccurs="1"/>
      <xs:element name="email" type="xs:string" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>