xml_schema/816e93e545ce6402956ac8f90d23dfc66c48411e6f8349b38b07ecc7e3d6b6ab.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <!-- Generated schema with checksum: 816e93e545ce6402956ac8f90d23dfc66c48411e6f8349b38b07ecc7e3d6b6ab -->
  <xs:element name="library" type="libraryType"/>
  <xs:complexType name="libraryType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="1"/>
      <xs:element name="location" type="locationType" minOccurs="1"/>
      <xs:element name="books" type="booksType" minOccurs="1"/>
      <xs:element name="membership" type="membershipType" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="locationType">
    <xs:attribute name="country" type="xs:string" use="required"/>
    <xs:attribute name="city" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="booksType">
    <xs:sequence>
      <xs:element ref="book" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="book" type="bookType"/>
  <xs:complexType name="bookType">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="1"/>
      <xs:element name="author" type="authorType" minOccurs="1"/>
      <xs:element name="year" type="xs:integer" minOccurs="1"/>
      <xs:element name="genres" type="genresType" minOccurs="1"/>
      <xs:element name="available" type="xs:boolean" minOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="isbn" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="authorType">
    <xs:sequence>
      <xs:element name="firstName" type="xs:string" minOccurs="1"/>
      <xs:element name="lastName" type="xs:string" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="genresType">
    <xs:sequence>
      <xs:element ref="genre" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="genre" type="xs:string"/>
  <xs:complexType name="membershipType">
    <xs:sequence>
      <xs:element ref="member" minOccurs="1" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="member" type="memberType"/>
  <xs:complexType name="memberType">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="1"/>
      <xs:element name="joined" type="xs:date" minOccurs="1"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer" use="required"/>
    <xs:attribute name="active" type="xs:boolean" use="required"/>
  </xs:complexType>
</xs:schema>