files/xsd/0b6d6a5e4ed2c70c8132cd71830d0225a365d5d5cb68e46e67af28cc614aa4f2.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="xml">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="newsitem" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="language" minOccurs="1" type="xs:string"/>
              <xs:element name="mediatype" minOccurs="1" type="xs:string"/>
              <xs:element name="source" minOccurs="1">
                <xs:complexType>
                  <xs:sequence/>
                  <xs:attribute name="id" type="xs:integer"/>
                  <xs:attribute name="name" type="xs:string"/>
                  <xs:attribute name="country" type="xs:string"/>
                  <xs:attribute name="accesstype" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="pdf_url" minOccurs="1" type="xs:string"/>
              <xs:element name="docdate" minOccurs="1">
                <xs:complexType>
                  <xs:sequence/>
                  <xs:attribute name="local" type="xs:dateTime"/>
                  <xs:attribute name="gmt" type="xs:dateTime"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="physical_position" minOccurs="1">
                <xs:complexType>
                  <xs:sequence/>
                  <xs:attribute name="page" type="xs:integer"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="logical_position" minOccurs="1">
                <xs:complexType>
                  <xs:sequence/>
                  <xs:attribute name="value" type="xs:string"/>
                  <xs:attribute name="type" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="lettere" minOccurs="1" type="xs:string"/>
              <xs:element name="headline" minOccurs="1" type="xs:string"/>
              <xs:element name="subheadline" minOccurs="1" type="xs:string"/>
              <xs:element name="intro" minOccurs="1" type="xs:string"/>
              <xs:element name="story" minOccurs="1" type="xs:string"/>
              <xs:element name="image" minOccurs="1" type="xs:string"/>
              <xs:element name="byline" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="fulltext" minOccurs="1" type="xs:string"/>
                    <xs:element name="author" minOccurs="1" type="xs:string"/>
                    <xs:element name="nonauthor" minOccurs="1" type="xs:string"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="local_id" type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
