files/xsd/1c06447694f73df26d4520e8dbe2f72c08295889f7a9a1069d0009e6c18e0373.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="university">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="established">
          <xs:complexType>
            <xs:sequence/>
            <xs:attribute name="year" type="xs:integer"/>
            <xs:attribute name="country" type="xs:string"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="departments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="department">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="faculty">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="member">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="title" type="xs:string"/>
                                <xs:element name="email" type="xs:string"/>
                                <xs:element name="courses">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="courseCode" type="xs:string"/>
                                      <xs:element name="courseCode" type="xs:string"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:string"/>
                              <xs:attribute name="tenure" type="xs:string"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="member">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="title" type="xs:string"/>
                                <xs:element name="courses">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="courseCode" type="xs:string"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:string"/>
                              <xs:attribute name="tenure" type="xs:string"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="courses">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="course">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="title" type="xs:string"/>
                                <xs:element name="credits" type="xs:integer"/>
                              </xs:sequence>
                              <xs:attribute name="code" type="xs:string"/>
                              <xs:attribute name="mandatory" type="xs:string"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="course">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="title" type="xs:string"/>
                                <xs:element name="credits" type="xs:integer"/>
                                <xs:element name="prerequisite">
                                  <xs:complexType>
                                    <xs:sequence/>
                                    <xs:attribute name="code" type="xs:string"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="code" type="xs:string"/>
                              <xs:attribute name="mandatory" type="xs:string"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string"/>
                  <xs:attribute name="type" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="department">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string"/>
                  <xs:attribute name="type" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="department">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string"/>
                  <xs:attribute name="type" type="xs:string"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="students">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="student">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="major" type="xs:string"/>
                    <xs:element name="enrolledCourses">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="course">
                            <xs:complexType>
                              <xs:sequence/>
                              <xs:attribute name="code" type="xs:string"/>
                              <xs:attribute name="semester" type="xs:integer"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="course">
                            <xs:complexType>
                              <xs:sequence/>
                              <xs:attribute name="code" type="xs:string"/>
                              <xs:attribute name="semester" type="xs:integer"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string"/>
                  <xs:attribute name="status" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="student">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="major" type="xs:string"/>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string"/>
                  <xs:attribute name="status" type="xs:string"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
