files/xsd/939e5c77564c820ee11d250dffce07124e2c36cd22c0413793554102675de2d1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="retxml">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="newsitem" minOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="language" minOccurs="1" type="xs:string"/>
              <xs:element name="mediatype" minOccurs="1" type="xs:string"/>
              <xs:element name="source" minOccurs="1">
                <xs:complexType>
                  <xs:sequence/>
                  <xs:attribute name="id" type="xs:integer"/>
                  <xs:attribute name="name" type="xs:string"/>
                  <xs:attribute name="country" type="xs:string"/>
                  <xs:attribute name="accesstype" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="url" minOccurs="1" type="xs:string"/>
              <xs:element name="pdf_url" minOccurs="1" type="xs:string"/>
              <xs:element name="docdate" minOccurs="1">
                <xs:complexType>
                  <xs:sequence/>
                  <xs:attribute name="local" type="xs:dateTime"/>
                  <xs:attribute name="gmt" type="xs:dateTime"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="physical_position" minOccurs="1">
                <xs:complexType>
                  <xs:sequence/>
                  <xs:attribute name="page" type="xs:integer"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="logical_position" minOccurs="1">
                <xs:complexType>
                  <xs:sequence/>
                  <xs:attribute name="value" type="xs:string"/>
                  <xs:attribute name="type" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="headline" minOccurs="1" type="xs:string"/>
              <xs:element name="story" minOccurs="1" type="xs:string"/>
              <xs:element name="byline" minOccurs="1">
                <xs:complexType>
                  <xs:sequence/>
                  <xs:attribute name="name" type="xs:string"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="local_id" type="xs:string"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
