files/xsd/f1a4ea4311d70236d6a831ead1cfa6099d9003363cf9af9afea917511adf65f8.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="university">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="established" type="xs:integer"/>
        <xs:element name="departments">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="department">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="faculty">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="member">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="title" type="xs:string"/>
                                <xs:element name="courses">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element name="course">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="title" type="xs:string"/>
                                            <xs:element name="semester" type="xs:string"/>
                                          </xs:sequence>
                                          <xs:attribute name="code" type="xs:string"/>
                                          <xs:attribute name="credits" type="xs:integer"/>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="course">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="title" type="xs:string"/>
                                            <xs:element name="semester" type="xs:string"/>
                                          </xs:sequence>
                                          <xs:attribute name="code" type="xs:string"/>
                                          <xs:attribute name="credits" type="xs:integer"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:string"/>
                              <xs:attribute name="tenure" type="xs:string"/>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="member">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="title" type="xs:string"/>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:string"/>
                              <xs:attribute name="tenure" type="xs:string"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string"/>
                </xs:complexType>
              </xs:element>
              <xs:element name="department">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="faculty">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="member">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="name" type="xs:string"/>
                                <xs:element name="title" type="xs:string"/>
                              </xs:sequence>
                              <xs:attribute name="id" type="xs:string"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
